<div class="menu-div">
    <div class="container">
        <div class="row no-margin">
            <div class="col-md-3 col-xs-5 vertical-nav bg-light">
                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item bg-light @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                        <a href="/" class="nav-link text-dark font-italic">
                            <i class="fa mr-1 text-primary fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item bg-light @(ViewContext.RouteData.Values["Controller"].ToString() == "About" ? "active" : "")">
                        <a href="/About" class="nav-link text-dark font-italic">
                            <i class="fa mr-1 text-primary fa-user-circle"></i>
                            About Us
                        </a>
                    </li>
                    <li class="nav-item bg-light @(ViewContext.RouteData.Values["Controller"].ToString() == "Medicine" ? "active" : "")">
                        <a href="/Medicine" class="nav-link text-dark font-italic">
                            <i class="fa mr-1 text-primary fa-medkit"></i>
                            Medicines
                        </a>
                    </li>
                    <li class="nav-item bg-light @(ViewContext.RouteData.Values["Controller"].ToString() == "Contact" ? "active" : "")">
                        <a href="/Contact" class="nav-link text-dark font-italic">
                            <i class="fa mr-1 text-primary fa-address-card"></i>
                            Contact Us
                        </a>
                    </li>
                    @{
                        if (User.IsInRole(Global.ROLE_ADMIN) || User.IsInRole(Global.ROLE_MANAGER))
                        {
                            <li class="nav-item bg-light @(ViewContext.RouteData.Values["Controller"].ToString() == "Category" ? "active" : "")">
                                <a href="/Account/Employee" class="nav-link text-dark font-italic">
                                    <i class="fa mr-1 text-primary fa-users"></i>
                                    Manage Employee
                                </a>
                            </li>
                        }

                        if (User.IsInRole(Global.ROLE_ADMIN) || User.IsInRole(Global.ROLE_CLERK))
                        {
                            <li class="nav-item bg-light @(ViewContext.RouteData.Values["Controller"].ToString() == "Category" ? "active" : "")">
                                <a href="/Category" class="nav-link text-dark font-italic">
                                    <i class="fa mr-1 text-primary fa-list-alt"></i>
                                    Category
                                </a>
                            </li>
                        }
                        if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item bg-light">
                                <a href="/Account/Login" class="nav-link text-dark font-italic">
                                    <i class="fa mr-1 text-primary fa-sign-in-alt"></i>
                                    Sign In
                                </a>
                            </li>
                            <li class="nav-item bg-light">
                                <a href="/Account/Register" class="nav-link text-dark font-italic">
                                    <i class="fa mr-1 text-primary fa-registered"></i>
                                    Register
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item bg-light">
                                <a href="/Account/Logout" class="nav-link text-dark font-italic">
                                    <i class="fa mr-1 text-primary fa-sign-out-alt"></i>
                                    Sign Out
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>

            <div class="col-md-9 col-xs-7 slider-area">
                <!-- Slider -->
                <div class="block-slider block-slider4">
                    <ul class="" id="bxslider-home4">
                        <li>
                            <img src="~/img/h4-slide.png" alt="Slide">
                        </li>
                        <li>
                            <img src="~/img/h4-slide2.png" alt="Slide">
                        </li>
                        <li>
                            <img src="~/img/h4-slide3.png" alt="Slide">
                        </li>
                        <li>
                            <img src="~/img/h4-slide4.png" alt="Slide">
                        </li>
                    </ul>
                </div>
                <!-- ./Slider -->
            </div> <!-- End slider area -->
        </div>
    </div>
</div>
