@model IEnumerable<ProductModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Product";
    List<SelectListItem> arrCategories = (List<SelectListItem>)ViewData["arrCategories"];
}

<div class="box">
    <div class="box-header">
        <h4 class="box-title">Create Medicine</h4>
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-5">
                    <label for="product_name">Name: </label>
                    <input id="product_name" class="form-control" name="product_name" required />
                </div>
                <div class="col-5 offset-2">
                    <label for="product_image">Image: </label>
                    <input type="file" id="product_image" class="form-control" name="image" required accept="image/*" />
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <label for="product_price">Price (RS): </label>
                    <input id="product_price" class="form-control" name="product_price" required />
                </div>
                <div class="col-5 offset-2">
                    <label for="product_category">Category: </label>
                    <select id="product_category" name="product_category" asp-items="arrCategories" class="form-control" required></select>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="product_description">Description: </label>
                    <textarea class="form-control" rows="5" id="product_description" name="product_description"></textarea>
                </div>
            </div>
            <br />
            <div class="row ml-auto">
                <button type="submit" class="btn-outline-primary">Create</button>
            </div>
        </form>
    </div>

    <div class="box-body">
        <h4 class="box-title">Medicine List</h4>
        <table class="table table-bordered table-striped" id="category-table">
            <thead>
                <tr>
                    <th width="15%">Category</th>
                    <th width="20%">Image</th>
                    <th width="15%">Name</th>
                    <th width="15%">Price (RS)</th>
                    <th width="15%">Description</th>
                    <th width="20%">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => arrCategories.Find(category => category.Value == "" + item.product_category).Text)
                        </td>
                        <td>
                            <img src="@item.product_image" class="listview-item-image" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.product_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.product_price)
                        </td>
                        <td>
                            @Global.GetShortString(item.product_description)
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="showUpdateDlg(@item.product_id, '@item.product_name', '@item.product_image', '@item.product_price', '@item.product_description', '@item.product_category')">Edit</button> &nbsp;&nbsp;
                            <button type="button" class="btn btn-danger" onclick="Delete(@item.product_id)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="update-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Update Category</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Update" method="post" enctype="multipart/form-data" style="padding: 20px">
                    <input id="update_product_id" name="product_id" type="hidden" />
                    <input id="update_product_image" name="product_image" type="hidden" />
                    <div class="row  text-center">
                        <img id="new_product_image" src="" class="product-image" />
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label for="update_product_name">Name: </label>
                            <input id="update_product_name" class="form-control" name="product_name" required />
                        </div>
                        <div class="col-5 offset-2">
                            <label for="update_product_image">Image: </label>
                            <input type="file" class="form-control" name="image" accept="image/*" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label for="update_product_price">Price (RS): </label>
                            <input id="update_product_price" class="form-control" name="product_price" required />
                        </div>
                        <div class="col-5 offset-2">
                            <label for="update_product_category">Category: </label>
                            <select id="update_product_category" name="product_category" asp-items="arrCategories" class="form-control" required></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="update_product_description">Description: </label>
                            <textarea class="form-control" rows="5" id="update_product_description" name="product_description"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="row ml-auto">
                        <button type="submit" class="btn-outline-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- DataTables -->
@section Links {
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
}
@section Scripts {
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(function () {
            $('#category-table').DataTable();

            var errMsg = "@ViewData["errorMsg"]";
            if (errMsg)
                alert(errMsg);
        });
        function Delete(id){
            var txt;
            var r = confirm("Are you sure you want to Delete?");
            if (r == true) {

                $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("Delete")',
                    data: {
                        id: id
                    },
                    error: function (result) {
                        alert("error");
                    },
                    success: function (result) {
                        if (result == true) {
                            window.location.reload();
                        }
                        else {
                            alert("There is a problem, Try Later!");
                        }
                    }
                });
            }
        }

        function showUpdateDlg(id, name, image, price, description, category) {
            $("#update_product_id").val(id);
            $("#update_product_name").val(name);
            $("#update_product_image").val(image);
            $("#new_product_image").attr("src", image);
            $("#update_product_price").val(price);
            $("#update_product_description").html(description);
            $("#update_product_category").val(category);

            $("#update-modal").modal();
        }
    </script>
}
